@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primay-color: #252f3d;
  --secundary-color: #252f3d;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
}

.my_nav {
  background-color: var(--primay-color);
  color: var(--text-white-color);
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  text-transform: capitalize;
}

.my_footer {
  background-color: var(--primay-color);
  color: var(--text-white-color);
  padding: 24px 119px 24px 127px;
  justify-content: space-between;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  text-transform: lowercase;
}

.text_steps {
  font-family: Manrope;
}

.text_steps_blue {
  color: #2c7ef8;
}

.style_manrope {
  font-family: Manrope;
}

.text_verify {
  color: #5bb59a;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
}

.particion_main {
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
}

.main {
  display: flex;
  width: auto;
  height: auto;
  flex-shrink: 0;
  margin: 40px;
  padding: 40px;
  gap: 40px;
  justify-content: space-between;
  border-radius: 10px;
  background: #fafafa;
}

.typografia {
  color: #4d5254;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.comment_user {
  width: 575px;
}

.title_section2 {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}

.span_blue {
  color: #2c7ef8;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  text-transform: capitalize;
}

.partion1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex: 1 0 0;
}

.price1 {
  color: #969696;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: strikethrough;
  text-transform: capitalize;
}

.price2 {
  color: #2c7ef8;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  text-transform: capitalize;
}

.text_info {
  color: #4d5254;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.retangulo {
  border-radius: 10px;
  background: #2c7ef8;
}

.text1 {
  color: #4d5254;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.text2 {
  color: #4d5254;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.particion_percente {
  padding: 16px 12px;
  border-radius: 10px;
  background: #edf3fd;
}

.particion_percente p {
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.particion_percente span {
  color: #2c7ef8;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.btn_discount {
  /* display: flex; */
  padding: 16px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 50px;
  background: #59ae43;
  color: #fff;
  cursor: pointer;
}

.particion_cards {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}

.particion_cards p {
  color: #4d5254;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  text-transform: capitalize;
}

.no_thanks {
  color: #f82c2c;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.satisfy p {
  color: #4d5254;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.satisfy span {
  color: #4d5254;
  leading-trim: both;
  text-edge: cap;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
